/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
	70% {
		color: @light;
	}

	to {
		color: @light;
		background-color: @warning;
	}
}

@keyframes blink-critical {
	70% {
		color: @light;
	}

	to {
		color: @light;
		background-color: @critical;
	}
}


/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* COLORS */

/* Nord */
/*@define-color light #eceff4;
@define-color dark #2e3440;
@define-color warning #ebcb8b;
@define-color critical #d08770;
@define-color mode #4c566a;
@define-color workspaces #5e81ac;
@define-color workspacesfocused #81a1c1;
@define-color sound #d8dee9;
@define-color network #4c566a;
@define-color memory #88c0d0;
@define-color cpu #434c5e;
@define-color temp #d8dee9;
@define-color layout #5e81ac;
@define-color battery #88c0d0;
@define-color date #2e3440;
@define-color time #eceff4;*/

/* Dracula  */
@define-color light #f8f8f2;
@define-color dark #282a36;
@define-color warning #ffb86c;
@define-color critical #ff5555;
@define-color mode #a89984;
@define-color workspaces #282a36;
@define-color workspacesfocused #bd93f9;
@define-color fade0 #44475a;
@define-color fade100 #555970;
@define-color layout #44475a;
@define-color battery #44475a;
@define-color date #282a36;
@define-color time #282a36;

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

/* The whole bar */
#waybar {
	background: transparent;
	color: @light;
	font-family: Iosevka, "Font Awesome 6 Free";
	font-size: 10pt;
	/*font-weight: bold;*/
}

window > box {
    margin-top: 10px;
}

/* Each module */
#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-alsa,
#sndio,
#tray {
	padding-left: 10px;
	padding-right: 10px;
}

/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
	color: @critical;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-name: blink-critical;
	animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
	color: @warning;
}

/* Each warning that should blink */
#battery.warning.discharging {
	animation-name: blink-warning;
	animation-duration: 3s;
}

/* And now modules themselves in their respective order */

#mode { /* Shown current Sway mode (resize etc.) */
	color: @light;
	background: @mode;
}

/* Workspaces stuff */
#workspaces button {
	/*font-weight: bold;*/
	padding-left: 4px;
	padding-right: 4px;
	color: @light;
	background: @workspaces;
}

#workspaces button.focused {
	background: linear-gradient(0deg, #6272a4 0%, #8be9fd 100%);
    color: @dark;
    font-weight: bold;
}

/*#workspaces button.urgent {
	border-color: #c9545d;
	color: #c9545d;
}*/

#window {
	margin-right: 40px;
	margin-left: 40px;
}

#network,
#memory,
#cpu,
#temperature,
#custom-alsa,
#pulseaudio,
#sndio,
#language,
#battery,
#layout {
	background: linear-gradient(270deg, @fade0 0%, @fade100 100%);
	color: @light;
}

#tray {
	background: @date;
}

#clock.date {
	background: @date;
	color: @light;
}

#clock.time {
	background: @time;
	color: @light;
}

#pulseaudio.muted {
	/* No styles */
}

#custom-arrow1 {
	font-size: 16px;
	color: @fade100;
	background: transparent;
}

#custom-arrow2, 
#custom-arrow3,
#custom-arrow4,
#custom-arrow5,
#custom-arrow6,
#custom-arrow7 {
	font-size: 16px;
	color: @fade100;
	background: @fade0;
}

#custom-arrow8 {
	font-size: 16px;
	color: @date;
	background: @fade0;
}

#custom-arrow9 {
	font-size: 16px;
	color: @time;
	background: @date;
}

#custom-arrow10 {
	font-size: 16px;
	color: @workspaces;
	background: transparent;
}

