* {
    font-family: "Iosevka";
}

#outer-box {
	border: 2px solid #6272a4;
	/* border-radius: 4px; */
}

#window {
	background-color: #232a36;
}

#text {
}

#text:selected {
	color: #f8f8f2;
	background-color: transparent;
}

#input {
	margin: 4px;
	border: 2px solid #6272a4;
	/* border-radius: 4px; */
	background-color: #232a36;
}

#scroll {
	margin: 2px 2px 3px 2px;
}

#entry {
	padding: 2px 4px;
	margin: 1px 2px;
}

#entry:selected {
	background-color: #6272a2;
	border-radius: 4px;
}
